.root {
  width: 450px;
  height: 328px;
}

.input-container {
  display: flex;
  flex-direction: column;

  margin-bottom: calc(var(--spacing) * 3);
  gap: calc(var(--spacing) * 3);
}

.button-containter {
  display: flex;
  justify-content: center;
}
