:root {
  --primary: #6DE1FF;
  --secondary: #2B2F38;
  --spacing: 0.5rem;
  --small: 14px;
  --medium: 16px;
  --large: 18px;
  --extra-large: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 100vh;

  background-color: var(--secondary);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
